.frame-block {
    display: none;
    position: relative;
    top: 35%;
    text-align: center;
    @extend %clearfix;
    
    &#frame-home {
        display: none;
    }
    
    &#frame-game {
        display: block;
        top: 0;
        height: 100%;
    }
}