.frame-block {
    display: none;
    position: relative;
    top: 35%;
    text-align: center;
    
    &#frame-home {
        display: block;
    }
    
    &#frame-game {
        top: 0;   
    }
}