.game {
    .player {
        position: absolute;
        left: 0;
        right: 0;
        display: block;
        margin: 0 auto;
        width: 50px;
        height: 50px;
        background-color: tomato;
        
        &#player--top {
            top: 5em;
        }
        
        &#player--bottom {
            bottom: 10em;
        }
    }
    
    #game__message {
        position: absolute;
        top: 49%;
        left: 0;
        right: 0;
        margin: 0 auto;
        @include transition($base__transition);
    }
    
    .score {
        position: absolute;
        left: 0;
        right: 0;
        display: block;
        font-size: 1.2em;
        line-height: 1;
        font-weight: 900;
        text-transform: uppercase;
        text-align: center;
        
        &#player--top-score {
            top: 1.5em;
        }
        
        &#player--bottom-score {
            bottom: 5.5em;
        }
    }
    
    #player__word {
        position: absolute;
        bottom: 0;
        margin: 0;
        text-align: center;
        outline: 0;
        
        &.player__word--error {
            border-color: $base__link--color;
        }
    }
}