/*!
    Author: Ed Torba
    Author URI: http://www.edtorba.com/
    License: Apache License 2.0 (Apache-2.0)
    License URI: http://www.apache.org/licenses/LICENSE-2.0
*/
.row {
    @extend %clearfix;

    & [class*="row__col"] {
        float: left;
        position: relative;
        min-height: 1px;
        @extend %border-box;
    }

    @for $i from 1 through 12 {
        &__cols--#{$i} {
            width: ( ( 100 / 12 ) * $i ) * 1%;
        }
    }

    @for $i from 1 through 11 {
        &__push--#{$i} {
            margin-left: ( ( 100 / 12 ) * $i ) * 1%;
        }
    }
}